@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  line-height: 20px;
}

.container {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
  position: relative;
}

.rows-container {
  width: 100%;
  margin: 30px 0;
}

.row {
  display: block;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.cell {
  caret-color: transparent;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 40px;
  border: 2px solid #eee;
  text-align: center;
  font-weight: 300;
  transition: all 0.3s;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }
}

.results-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  transform: scale(0);
}

.results-container > * {
  margin: 20px 0;
}

.btn {
  font-family: inherit;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #5eba7d;
  color: #fff;
  border: 1px solid rgb(126, 126, 126);
}

.btn:active {
  transform: scale(0.98);
}
